<div class="entrada-blog">
    <img class="imagen-flotante" src=<%=entry.image%> alt="Imagen del artículo">

    <h2><%=entry.title%></h2>
    <div class="contenido">
        <p><%=entry.content%></p>
    </div>
    
    <button type="botones" action="/edit" method="POST" onclick="submitForm()">
        <a class="contenido"  method="POST" href="/edit/<%= entry.id %>"><LI> edit </LI></a>
    </button>

    <form id="form" action="/delete/<%= entry.id %>"  method="POST">
        <button type="submit">Delete</button>
      </form>

</div>